<div class="row">
  <div class="col-md-12">
    <div class="mb-3">
      <%= image_tag @user.avatar.medium.url, class: 'rounded-circle' %>
    </div>

    <h1>
      <%= @user.first_name %> <%= @user.last_name %>
    </h1>

    <p class="small text-muted">
      Studying since <nobr><%= l @user.updated_at, format: :date %></nobr>
    </p>

    <p><%= link_to 'Edit personal information', edit_user_path(@user), class: 'btn btn-primary btn-sm' %></p>

    <h2>Account:</h2>

    <p>Email: <b><%= @user.email %></b></p>

    <% unless @user.uses_oauth? %>
      <p><%= link_to 'Change email or password', edit_user_registration_path,
        class: 'btn btn-outline-primary btn-sm' %></p>
    <% end %>
  </div>

</div>

<div class="row">
  <% @reviews.each do |review| %>
    <% course = review.course %>

    <div class="col-md-4 col-lg-3 col-sm-6 mb-4">
      <div class="card bg-light">
        <img class="card-img" src="https://placeimg.com/300/200/tech?t=<%= rand(10000) %>" alt="[Logo]">

        <div class="card-img-overlay">
          <h5 class="font-weight-bold h3 text-limit my-0">
            <span class="text-limit-4-inner">
              <span class="text-bg-primary"><%= course.title %></span>
            </span>
          </h5>
          <div><small class="badge badge-primary"><%= course.genre %></small></div>
        </div>

        <div class="card-footer">
          <div><%= rating_stars_for(review.rating) %></div>
        </div>
      </div>
    </div>
  <% end %>
</div>
