<div class="row">
  <div class="col-md-12">
    <h1><%= @user.first_name %> <%= @user.last_name %></h1>

    <p class="small text-muted">
      Studying since <nobr><%= l @user.updated_at, format: :date %></nobr>
    </p>

    <p><%= link_to 'Edit personal information', edit_user_path(@user), class: 'btn btn-primary btn-sm' %></p>

    <h2>Account:</h2>

    <p>Email: <b><%= @user.email %></b></p>
    <p><%= link_to 'Change email or password', edit_user_registration_path, class: 'btn btn-outline-primary btn-sm' %></p>
  </div>
</div>

