<div class="row">
  <div class="col-md-12">
    <div class="mb-3">
      <%= image_tag @user.avatar.medium.url, class: 'rounded-circle' %>
    </div>

    <h1>
      <%= @user.first_name %> <%= @user.last_name %>
    </h1>

    <p class="small text-muted">
      Studying since <nobr><%= l @user.updated_at, format: :date %></nobr>
    </p>

    <p><%= link_to 'Edit personal information', edit_user_path(@user), class: 'btn btn-primary btn-sm' %></p>

    <h2>Account:</h2>

    <p>Email: <b><%= @user.email %></b></p>

    <% unless @user.uses_oauth? %>
      <p><%= link_to 'Change email or password', edit_user_registration_path,
        class: 'btn btn-outline-primary btn-sm' %></p>
    <% end %>
  </div>
</div>

