<!DOCTYPE html>
<html>
<head>
  <title>Allcourses</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <%= csrf_meta_tags %>

  <%= stylesheet_link_tag 'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
</head>

<body>
<%= render partial: 'partials/navbar' %>

<div class="mt-2">
  <div class="container">
    <%= render partial: 'partials/messages' %>
    <%= yield %>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col">
      <hr> &copy; <a href="http://AllCourses.com">AllCourses.com</a>
    </div>
  </div>
</div>

</body>
</html>
