<!DOCTYPE html>
<html>
<head>
  <title>Allcourses</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <%= csrf_meta_tags %>

  <%= stylesheet_link_tag 'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
</head>

<body class="page">
  <div class="page-content container">
    <%= render partial: 'partials/navbar' %>

    <div class="mt-4">
      <%= render partial: 'partials/flash' unless flash.empty? %>

      <%= yield %>
    </div>
  </div>

  <footer class="page-footer container pb-4">
    &copy; <a href="#">AllCourses.com</a>
  </footer>
</body>
</html>
